name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nginx-ci:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/nginx-ci:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4

    - name: Deploy to k3s
      env:
        KUBECONFIG: ${{ secrets.KUBE_CONFIG }}
      run: |
        kubectl apply -f k8s/deployment.yaml
